<div class="page-header">
  <h1 class="text-center">All Blockmarks</h1>
</div>
  <p><%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></p>

<br>


<div class="container">
  <div class="row">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p><%= link_to topic.title, topic %>   <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-warning btn-sm' %></p>
            <br>
            <% topic.bookmarks.each do |bookmark| %>
              <h6><%= link_to bookmark.url, bookmark.url, :target => '_blank' %></h6>
              <br>
            <% end %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
